*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    background:linear-gradient(to right, rgb(34, 146, 155), rgb(10, 44, 177));
}

.container{
    width:30.5rem;
    height:40rem;
    background-color: #ff9a3e;
    margin: 8rem auto 0;
    border-radius: 10%;
    overflow: hidden;
}

.hero{
    width: 100%rem;
    height:15rem;
}

.hero__img{
    width:100%;
    height:100%;
    background-color:#003785 ;
    
    
}

.principal__title{
    text-align: center;
   padding-top: 0.8rem;
    font-size: 1.5rem;;
}

.elections{
    background-color: #2196f3;
    margin:0 0 2rem 0;
    width:100%;
    height: 8rem;
}

.principal__options{
    display: flex;
    width:60%;
    margin: 0 auto;
    justify-content: space-around;
    
    
}
.principal-option__container{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 5rem;   
}

.principal-option__container:hover 
.principal-option__rock--img{
    transform:rotate(360deg);
}
.principal-option__container:hover 
.principal-option__rock--button{
    border: solid 3px white;
}

.principal-option__container:hover 
.principal-option__paper--img{
    transform:rotate(360deg);
}
.principal-option__container:hover 
.principal-option__paper--button{
    border: solid 3px white;
}
.principal-option__container:hover 
.principal-option__scissors--img{
    transform:rotate(360deg);
}
.principal-option__container:hover 
.principal-option__scissors--button{
    border: solid 3px white;
}

.principal-option__rock--img{
    width:2.5rem;
    margin-top: 0.5rem;
    transition: transform 400ms ease;
}
.principal-option__rock--button{
    width:5rem;
    height: 2rem;;
    margin-top: 0.5rem;
}


.option--green{
    background-color: green;
    color:aliceblue;
    border:solid 1px white;
}



.principal-option__paper--img{
    width:2.5rem;
    margin-top: 0.5rem;
    transition: transform 400ms ease;
}
.principal-option__paper--button{
    width:5rem;
    height: 2rem;
    margin-top: 0.5rem;
}
.principal-option__scissors--img{
    width:2.5rem;
    margin-top: 0.5rem;
    transition: transform 400ms ease;
}
.principal-option__scissors--button{
    width:5rem;
    height: 2rem;
    margin-top: 0.5rem;
}

.principal__start{
    width:5rem;
    height:2rem;
    font-size: 1rem;
    background-color:#6fb31d ;
    color:white;
    margin-left: 50%;
    margin-right:50%;
    transform: translateX(-50%);
}

.principal__result{
    display: flex;
    width:70%;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
    height:3rem;
    background-color: rgb(255, 255, 255);
    border:solid 1px black;
}

.election{
    width:8rem;
    text-align: center;
    font-size: 1.5rem;
    
}
.machine{
    width:8rem;
    text-align: center;
    font-size: 1.5rem;
    
}

.principal__reinit{
    width: 5.3rem;
    height:2.3rem;
    margin-top: 2rem;
    margin-left: 50%;
    margin-right:50%;
    transform: translateX(-50%);
    background-color: red;
    color:white;
}
.mensaje{
    background-color: white;
    width: 10rem;
    height: 2.5rem;
    text-align: center;
    padding-top: 0.4rem;
    border:solid 1px black;
    margin-left:50%;
    margin-right:50%;
    transform: translateX(-50%);
    margin-top: 1rem;
    font-weight: bold;
}
.red{
    background-color: red;
    color:white;
}
.green{
    background-color: green;
    color:white;
}